html
  body
     form(name="createUserForm", action="create", method="post", enctype="application/x-www-form-urlencoded")
        input(type="text", name="firstname")
        input(type="text", name="lastname")
        input(type="submit", value="Submit")
        